<template name="busqProducto">
	<div class="container">
		<div class="page-header">
			<h1>
				<small>
					<span class="label label-lg label-info">Categorias</span>
				</small>
			</h1>
		</div>
		<ul class="nav nav-list">
			{{> esInput index="categories" placeholder="Busca tu categoria" class="form-control"}}
			<br>
			{{#esEach index="categories"}}
				<li class="nav-header">{{name}}</li>
					{{#each SubCategories}}
						<li><a class="btn btn-large waves-effect waves-light green" href="{{pathFor 'products'}}">{{name}}</a></li>
					{{/each}}
		    {{/esEach}}
		</ul>
	</div>
</template>