<template name="dashboard">
	<div class="container">
		<div class="card small">
        <div class="card-image waves-effect waves-block waves-light responsive-image">
          <img src="/compras.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Compras <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="/dashboard/compras" class="blue-text">Revisa Tus compras</a></p>
        </div>
      </div>

      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/ventas.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Productos Activos<i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="/dashboard/productos/" class="blue-text">Revisa Tus productos</a></p>
        </div>
      </div>

      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="/preguntas.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Preguntas<i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="/dashboard/preguntas" class="blue-text">Responder las Preguntas</a></p>
        </div>
      </div>

      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="{{imagenPerfil}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Asegura Tu cuenta Con latch<i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Asegura Tu cuenta Con latch<i class="mdi-navigation-close right"></i></span>
          {{> latchProtect}}
        </div>
      </div>
            
	</div>
</template>
