<template name="compras">
	{{#each comprasRealizadas}}
		{{#if compraEnviada}}
			<div class="container">
				<div class="row">

			          <div class="card blue-grey darken-1">
			            <div class="card-content white-text">
			              <span class="card-title">{{nombre}}</span>
			              <p>
			              	<ul>
								<li>Tu Producto: {{nombre}}</li>
								<li>Se encuentra en: {{link}}</li>
								<li>Su precio es de: {{monto}}</li>
								<li>El pago se hizo desde: {{wallet}}</li>
								<li>Link de la transacción: {{linkTransaccion}}</li>
								<li>El usuario vendedor es: {{userSeller.profile.username}}</li>
								<li>El número De telefono del vendedor es: {{userSeller.profile.telefono}}</li>
								<li>El Correo electronico del vendedor es: {{emailSeller}}</li>
							</ul>
			              </p>
			            </div>
			            <div class="card-action">
			              <a href="#" id="btnCalificar">Calificar</a>
			              <a href="{{fotoEnvio}}">Verificación de Envio</a>
			              {{#if calificarTmpl}}
								{{> calificar}}
			              {{else}}

			              {{/if}}
			            	<div class="switch " >
		    						<label id="textSw" class="green-text">
		      							En proceso
		    								<input type="checkbox" disabled checked id="estadoEnvio">
		      								<span class="lever"></span>
		      							Enviado
		    						</label>
		  					</div>
			            </div>
			          </div>
			      </div>
			 </div>
		{{else}}
			<div class="container">
				<div class="row">

			          <div class="card blue-grey darken-1">
			            <div class="card-content white-text">
			              <span class="card-title">{{nombre}}</span>
			              <p>
			              	<ul>
								<li>Tu Producto: {{nombre}}</li>
								<li>Se encuentra en: {{link}}</li>
								<li>Su precio es de: {{monto}}</li>
								<li>El pago se hizo desde: {{wallet}}</li>
								<li>Link de la transacción: {{linkTransaccion}}</li>
								<li>El usuario vendedor es: {{userSeller.profile.username}}</li>
								<li>El número De telefono del vendedor es: {{userSeller.profile.telefono}}</li>
								<li>El Correo electronico del vendedor es: {{emailSeller}}</li>
							</ul>
			              </p>
			            </div>
			            <div class="card-action">
			            	<div class="switch " >
		    						<label id="textSw" class="red-text">
		      							En proceso
		    								<input type="checkbox" disabled id="estadoEnvio">
		      								<span class="lever"></span>
		      							Enviado
		    						</label>
		  					</div>
			            </div>
			          </div>
			      </div>
			 </div>
		{{/if}}
	{{/each}}
</template>