<template name="ventas">
	{{#each ventasProceso}}
	<div class="container">
		<div class="row">

	          <div class="card blue darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">{{nombre}}</span>
	              	<ul>
						<li>Tu Producto: {{nombre}}</li>
						<li>Se encuentra en: {{link}}</li>
						<li>Su precio es de: {{monto}}</li>
						<li>El pago se hizo desde: {{wallet}}</li>
						<li>Link de la transacción: {{linkTransaccion}}</li>
						<li>El usuario comprador es: {{userComprador.profile.username}}</li>
						<li>El número telefonico del usuario: {{userComprador.profile.telefono}}</li>
						<li>El correo Electronico del usuario: {{emailComprador}}</li>
					</ul>	          
	            </div>
	            <div class="card-action">
	              	<a href="#">Calificar</a>
	              	<a href="#" id="subirVerificacion">Subir Verificación de Envio</a>
	              	{{#if enviado}}
						<div class="switch " >
		    						<label id="textSw" class="green-text">
		      							En proceso
		    								<input type="checkbox" disabled checked id="estadoEnvio">
		      								<span class="lever"></span>
		      							Enviado
		    						</label>
		  					</div>
	              	{{else}}
		              	<div class="switch " >
    						<label id="textSw" class="red-text">
      							En proceso
    								<input type="checkbox" id="estadoEnvio">
      								<span class="lever"></span>
      							Enviado
    						</label>
	  					</div>
  					{{/if}}
	            </div>
	          </div>

	      </div>
	 </div>
	{{/each}}
</template>