<template name="panelUsuario">
  <ul id="nav-mobile" class="side-nav fixed">
        <a href="/" class="brand-logo right"><img id="imageId" src="/logotipo.png" style="width: 75%;" class="valign-wrapper"></a>
        {{#if currentUser}}
          <li class="bold"><a href="/">Inicio</a></li>
          <li class="bold"><a href="/dashboard">Dashboard</a></li>
          <li class="bold"><a href="/vender">Vender Un Producto</a></li>
          <li class="bold"><a href="/busqProducto">Buscar un Producto</a></li>
          <li class="bold"><a href="#" class="logout">Salir</a></li>
        {{else}}
          <li class="bold"><a href="/">Inicio</a></li>
          <li class="bold"><a href="/login">Logueate</a></li>
          <li class="bold"><a href="/registrarse">Registrarse</a></li>
        {{/if}}
  </ul>

  <script>
    $('.button-collapse').sideNav({
      menuWidth: 120, 
      activationWidth: 70, 
      edge: 'left'
    });
  </script>
</template>
