<template name="comentarios">
    <div class="row">
      <div class="col s12 m10">
        <div class="card-panel teal">
            <header class="card-title white-text"><img src="{{fotoUser}}" class="circle responsive-img"> {{usuario}}</header>
            <big class="white-text" style="padding-left: 80px;">{{pregunta}}</big>
            <hr>
			<img src="{{fotoSeller}}" class="circle responsive-img">
    		<big class="white-text" style="padding-left: 80px;">{{respuesta}}</big>
        </div>
      </div>
    </div>
</template>
