<template name="products">
	<div class="container">
	<br>
			<h5 class="header waves-effect waves-light">Productos en esta catergoria: {{category}}	</h5>
		<br>
	</div>
	<div class="row"> 
		{{#each productList}}
				{{> miniatura}}
			{{else}}
			<div class="page-header">
				<h1>
					<small>{{#if catnotselect}}
						Selecciona una categoria
						{{else}}
						No Hay productos en venta
					{{/if}}
					</small>
				</h1>
			</div>
		{{/each}}
	</div>
</template>
