<template name="publicar">
  <div class="container">
    <h1 class="header red-text">Tu Producto está listo Para Publicarse</h1>
    {{#if currentUser}}
      <button class="waves-effect waves-light btn btn-large red" id="publicarBtn">Publicar el producto</button>
    {{else}}
      <h1>No puedes publicar si no estas registrado</h1>
    {{/if}}
  </div>
</template>
