<template name="mainPad">
	<div class="container">
			<h2 class="header">Ultimos Productos</h2>
		<br>
	</div>
	<div class="container"> 
		{{#each productos}}
			{{>miniatura}}
		{{/each}}
		
		{{#if cantidadLoad}}
			<a id="loadMore" class="btn btn-large waves-effect waves-light red right left"><i class="mdi-content-add"></i>Ver Más</a>
		{{/if}}
	</div>
</template>
