<template name="login">
	<div class="row">
		<span class="header blue-text"><h1>Loguearte</h1></span>
	{{#if currentUser}}

	{{else}}
	{{#if mobileDevice}}
		<form class="col s12" id="login-form">
		    <div class="row">
		      <div class="input-field col s6">
		        <i class="mdi-action-account-circle prefix"></i>
		        <input id="email" type="text">
		        <label for="email">Email</label>
		      </div>
		      <div class="input-field col s6">
		        <i class="mdi-action-lock prefix"></i>
		        <input id="password" type="password">
		        <label for="password">Password</label>
		      </div>
		      <div class="input-field col s6">
		      	<input type="submit" class="btn-floating btn-large waves-effect waves-light blue" value="Entrar">
		      </div>
		    </div>
	  </form>
	{{else}}
	  <form class="col s12" id="login-form">
	    <div class="row">
	      <div class="input-field col s6">
	        <i class="mdi-action-account-circle prefix"></i>
	        <input id="email" type="text">
	        <label for="email">Email</label>
	      </div>
	      <div class="input-field col s6">
	        <i class="mdi-action-lock prefix"></i>
	        <input id="password" type="password">
	        <label for="password">Password</label>
	      </div>
	      <div class="input-field col s6">
	      	<input type="submit" class="btn btn-large waves-effect waves-light blue" value="Entrar">
	      </div>
	    </div>
	  </form>
	{{/if}}
	{{/if}}
	</div>
</template>
