<template name="product">
  {{#each productoID}}
  <div class="container">
    <h2 class="header">Observa el Producto</h2>
    <br>
    <script>
      $(document).ready(function(){
        $('.slider').slider({full_width: true});
      });
    </script>
    <div id="slider" class="slider">
      <ul class="slides">
        <li>
          <img src="{{foto1}}"> <!-- random image -->
        </li>
        <li>
          <img src="{{foto2}}"> <!-- random image -->        
        </li>
        <li>
          <img src="{{foto3}}"> <!-- random image -->
        </li>
        <li>
          <img src="{{foto4}}"> <!-- random image -->
        </li>
      </ul>
    </div>

    <br>

    <div class="row">
      <div class="valing-wrapper">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title header">{{name}}</span>
            <header>
              El vendedor de este producto es: 
                <big> {{sellerData.profile.username}}</big>
              <br>
              El País donde Se encuentra el país es: 
                <big>{{pais}}</big>
              <br>
              El estado/región donde se ubica es:
                <big>{{estado}}</big>
              <br>
              La Ciudad de origen es:
                <big>{{ciudad}}</big>
              <br>
              Su Precio es:
                <big id="priceTo">{{priceTo}} BTC</big>
            </header>
            <br>
            <p class="white black-text">{{desc}}</p>
          </div>
          <div class="card-action">
            {{#if currentUser}}
              <a href="/compra/confirmacion" class="valign-wrapper waves-effect waves-light btn white-text comprar"><i class="mdi-action-add-shopping-cart left"></i>Compralo Ahora!</a>
            {{else}}
              <a href="/login" class="valign-wrapper waves-effect waves light btn white-text">Logueate Para Comprar <i class="mdi-action-add-shopping-cart left"></i></a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      {{#each comments}}
        {{> comentarios}}
      {{/each}}
  </div>
    {{#if currentUser}}
      <div class="container">
          {{> comentarBox}}
      </div>
    {{else}}
    <div class="container">
      <div class="row">
        <h1>Debes estar registrado para preguntar</h1>
      </div>
    </div>
    {{/if}}
  {{/each}}


</template>

    