<template name="confirmacion">
	<div class="container">
		<h2 class="header valign-wrapper">¿Comprar el producto?</h2>
    	<br>
		<div class="row">
      		<a id="si" class="btn btn-large tooltipped col s4 offset-s4 l2 offset-l1" data-position="top" data-tooltip="I am tooltip"> Si</a>
          <a id="no" class="btn tooltipped col s4 offset-s4 l2 offset-l1" data-position="left" data-tooltip="I am tooltip"> No </a>
	    </div>
	</div>
</template>