<template name="vender">
	{{#if currentUser}}
	<div class="container">
		<h1 class="header red-text">Vende tu producto</h1>

		<form class="col s12 publicar">
			<div class="col s12 input-field">
				<label class="label large">Nombre Del Producto</label><hr>
				<input type="text" class="form-control" id="nombre"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Descripción del producto</label><hr>
				<textarea class="materialize-textarea" id="descripcion"></textarea><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Precio del producto</label><hr><br>
				<select id="divisa">
				    <option value="" disabled selected>Elige la divisa a cotizar</option>
						<option value="USD">Dollar U.S</option>
						<option value="VEF">Bolivar Venezolano</option>
						<option value="ARS">Peso Argentino</option>
				  </select><br>
				<input type="text" class="form-control" id="precio"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Estado(región)</label><hr>
				<input type="text" class="form-control" id="estado"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Ciudad</label><hr>
				<input type="text" class="form-control" id="ciudad"><br>
			</div>

			<div class="col s12 input-field">
				<label for="" class="label large">Cantidad Disponible</label><hr>
				<p class="range-field">
				    <input type="range" id="cantidad" min="1" max="100" />
				  </p>
			</div>

			<div class="col s12 input-field">
				  <select id="pais">
				    <option value="" disabled selected>Elige país de origen del producto</option>
					    {{#each paisOrigen}}
						    <option value="{{pais}}"><img style="height: 24px;" src="{{icono}}"> {{pais}}</option>
						{{/each}}
				  </select>
			</div>

			<div class="col s12 input-field">
				  <select id="catName">
				    <option value="" disabled selected>Elige La categoria del producto</option>
					    {{#each subCategories}}
						    <option value="{{name}}">{{name}}</option>
						{{/each}}
				  </select>
			</div>

			<div class="col s16 input-field">
				<label class="label">{{categoria}}</label>
			</div>

			<input type="hidden" id="userSeller" value="{{currentUser._id}}"><br>

			<input type="submit" class="waves-effect waves-light btn btn-large green" value="Publicar">
		</form>

		<script>
			$('select').material_select();
		</script>
	</div>
	{{else}}
		<h1>No puedes vender ningun producto si no estas registrado</h1>
	{{/if}}
</template>
