<template name="latchProtect">
	<div class="container">
		{{#if isPairing}}
		  <div class="row">
		  <big>Esta autorizandose con latch</big>
		  <br>
		    <div class="preloader-wrapper big active">
			      <div class="spinner-layer spinner-blue">
			        <div class="circle-clipper left">
			          <div class="circle"></div>
			        </div><div class="gap-patch">
			          <div class="circle"></div>
			        </div><div class="circle-clipper right">
			          <div class="circle"></div>
			        </div>
			      </div>
			    </div>
		  </div>
	  {{else}}
	    {{#if isPaired}}
	    <div class="row">
	      <a class="btn btn-large waves-effect waves-light" target="_blank" href="https://latch.elevenpaths.com/">Estas Protegido Con <span class="inline-image-latch">Latch</span></a>
	      <a id="latch-unpair-link" class="btn btn-large waves-effect waves-light"> (unpair)</a>
	    </div>
	    {{else}}
	    <div class="row">
	      <a id="latch-pair-link" class="btn btn-large waves-effect waves-light white-text">Protege tu cuenta</a>
	      <a id="latch-more-info" target="_blank" class="btn btn-large waves-effect waves-light white-text" href="https://latch.elevenpaths.com/"> (+info)</a>
	    </div>
        
	    {{/if}}
	  {{/if}}
  	</div>
</template>