<template name="registrarse">
	{{#if captchaVerify}}		
		{{#if currentUser}}
			{{dontLoad}}
		{{else}}
		<div class="row">
			<h2 class="header blue-text">Registrate Ya!</h2>
		  <form class="col s12" id="registro-form">
		    <div class="row">
		      <div class="input-field col s6">
		        <input id="first_name" type="text" class="validate">
		        <label for="first_name">Nombre</label>
		      </div>
		      <div class="input-field col s6">
		        <input id="last_name" type="text" class="validate">
		        <label for="last_name">Apellido</label>
		      </div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="username" type="text" class="validate">
		        <label for="username">Username</label>
		      </div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="password" type="password" class="validate">
		        <label for="password">Contraseña</label>
		      </div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="RePassword" type="password" class="validate">
		        <label for="password">Repite tu Contraseña</label>
		      </div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="email" type="email" class="validate">
		        <label for="email">Email</label>
		      </div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="telefono" type="text" class="validate">
		        <label for="telefono">Digita tú número de telefono</label>
		      </div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <input id="cedula" type="text" class="validate">
		        <label for="cedula">Número de Cedula</label>
		      </div>
		    </div>
		    <div class="row">
		    	<div class=" col s12">
		    		<div class="file-field input-field">
		    			<label for="" class="label large">Sube tú cedula</label>
				      <input class="file-path validate" type="text"/>
				        <input type="file" class="btn" id="fotoCedula" />
				    </div>
		    	</div>
		    </div>
		    <div class="row">
		      <div class="input-field col s12">
		        <label for="fecha">Fecha de Nacimiento (DD/MM/AAAA)</label>
		        <input type="date" class="datepicker" id="fecha">
		        <script>
		        $('#fecha').click(function(){
		        	$('.datepicker').pickadate();
		        });
		        </script>
		      </div>
		    </div>
		    <div class="row">
		    	<div class="col 12 input-field">
		    		<input type="submit" id="registrarse" class="waves-light waves-effect btn-large red" value="Registrarse">
		    	</div>
		    </div>
		  </form>
		</div>
		{{/if}}
	{{else}}
		<br><br>
		<div class="header red-text">
			<h1>Verficación de Humanidad</h1>
		</div><hr>
		<a class="btn-floating btn-large waves-effect waves-light red verify" href="#"><i class="mdi-action-history left"></i> Clickea para saber que no eres un robot </a>
	{{/if}}
</template>
