<template name="comentarBox">
    <div class="input-field col s19">
	    <i class="mdi-editor-mode-edit prefix"></i>
	    <textarea placeholder="Escriba su pregunta" id="pregunta" cols="30" rows="10" class="materialize-textarea"></textarea>
	    <input type="submit" id="preguntar" value="Preguntar" class="btn btn-large waves-effect-waves-light">
	</div>
	<input type="hidden" id="userPregunton" value="{{currentUser.profile.username}}">
</template>
