<template name="navbar">
	<script>
    $('.button-collapse').sideNav({
      menuWidth: 120, 
      activationWidth: 70, 
      edge: 'left'
    });
  </script>
	<nav class="top-nav blue">
		<div class="nav-wrapper">
			{{#if currentUser}}
				<ul class="left side-nav">
					<li><a href="#" data-activates="nav-mobile" class="button-collapse brand-logo full"><i class="mdi-navigation-menu left"></i></a></li>
				</ul>
				<ul class="center side-nav">
					<li><a href="/" class="logo"><img src="/logo.png" style="height: 60px;" alt=""></a></li>
				</ul>
				{{#if mobileDevice}}
					<a href="#" data-activates="nav-mobile" class="button-collapse brand-logo full"><i class="mdi-navigation-menu left"></i></a>
				{{else}}
		      		<ul id="nav-mobile" class="right side-nav">
		      			<li><a href="#" id="volver"><i class="mdi-action-restore"></i></a></li>
	    	    		<li><a href="/dashboard"><img src="{{imagenPerfil}}" style="width: 20px" class="circle responsive-img"> {{currentUser.profile.username}}</a></li>
	      			</ul>
				{{/if}}
			{{else}}
				<ul class="center side-nav valign-wrapper">
					<li><a href="/" class="logo"><img src="/logo.png" style="height: 60px;" alt=""></a></li>
				</ul>
				<ul id="nav-mobile" class="left side-nav">
			        <li><a href="/login">Loguearse</a></li>
			        <li><a href="/registrarse">Registrarse</a></li>
			    </ul>
			{{/if}}
		</div>
	</nav>
	{{#if currentUser}}
	
	{{else}}
		{{#if mobileDevice}}
			<div class="row">
				 <div class="row">
				    <div class="col s12">
				      <ul class="tabs">
				      	<li class="tab col s3"><a href="#" id="loguearse">Loguearse</a></li>
					    <li class="tab col s3"><a href="#" id="registrarse">Registrarse</a></li>
					  </ul>
					</div>
				 </div>
				<script>
					$(document).ready(function(){
					    $('ul.tabs').tabs();
					});
				</script>
			</div>
		{{/if}}
	{{/if}}
</template>
