
<template name="subirFotos">
  {{#if currentUser}}
  <div class="container">
    <h1 class="header red-text">
      Sube 4 Fotos de tu producto
    </h1><br>
    {{#if mobileDevice}}
      <img src="{{foto1}}" width="80px">

      <button class="btn btn-large waves-effects waves-light capture1 valign-wrapper">Presiona Para tomar Fotos</button>
      
      <hr>
      
      <img src="{{foto2}}" width="80px">

      <button class="btn btn-large waves-effects waves-light capture2 valign-wrapper">Presiona Para tomar Fotos</button>
      
      <hr>
      
      <img src="{{foto3}}" width="80px">
      
      <button class="btn btn-large waves-effects waves-light capture3 valign-wrapper">Presiona Para tomar Fotos</button>
      
      <hr>
      
      <img src="{{foto4}}" width="80px">
      
      <button class="btn btn-large waves-effects waves-light capture4 valign-wrapper">Presiona Para tomar Fotos</button>
      {{#if readyFoto}}

      {{/if}}
    {{else}}
      <form action="/file-upload" class="dropzone" id="dropzone"></form>
    {{/if}}
    
  </div>
  {{else}}
  <h1>No puedes subir fotos si no estas registrado</h1>
  {{/if}}
</template>


