<template name="modificarProducto">

	{{#each productoModify}}
	<div class="container">
		<h1 class="header red-text">Modifica tu producto</h1>


			<div class="col s12 input-field">
				<label class="label large">Nombre Del Producto</label><hr>
				<input type="text" class="form-control" id="nombre" value="{{name}}"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Descripción del producto</label><hr><br>
				<textarea class="form-control" id="descripcion" value="{{desc}}"></textarea><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Precio del producto (En USD)</label><hr>
				<input type="text" class="form-control" id="precio" value="{{price}}"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Estado(región)</label><hr>
				<input type="text" class="form-control" id="estado" value="{{estado}}"><br>
			</div>

			<div class="col s12 input-field">
				<label class="label large">Ciudad</label><hr>
				<input type="text" class="form-control" id="ciudad" value="{{ciudad}}"><br>
			</div>

			<div class="col s12 input-field">
				  <select id="pais">
				    <option value="{{pais}}" disabled selected>Elige país de origen del producto</option>
					    {{#each paisOrigen}}
						    <option value="{{pais}}"><img style="height: 24px;" src="{{icono}}"> {{pais}}</option>
						{{/each}}
				  </select>
			</div>

			<div class="col s12 input-field">
				  <select id="catName">
				    <option value="{{catName}}" disabled selected>Elige La categoria del producto</option>
					    {{#each subCategories}}
						    <option value="{{name}}">{{name}}</option>
						{{/each}}
				  </select>
			</div>

			<div class="col s16 input-field">
				<label class="label">{{categoria}}</label>
			</div>

			<input type="hidden" id="foto1" value="{{foto1}}">
			<input type="hidden" id="foto2" value="{{foto2}}">
			<input type="hidden" id="foto3" value="{{foto3}}">
			<input type="hidden" id="foto4" value="{{foto4}}">
			<input type="hidden" id="fechaPublicacion" value="{{fechaPublicacion}}">

			<button class="waves-effect waves-light btn btn-large green modifyProducto" >Modificar</button>


		<script>
			$('select').material_select();
		</script>
	</div>
	{{/each}}

</template>