<template name="categories">
	<div class="header">
		<h1>
		 	<small><span class="label label-info">Categorias</span></small>
		</h1>
	</div>
	<hr>
	<ul class="nav nav-list">
		{{> esInput index="categories" placeholder="Busca tu categoria" class="form-control"}}
		{{#esEach index="categories"}}

		<ul class="side-nav">
			<li class="header">{{name}}</li>
				{{#each SubCategories}}
					<li><a href="{{pathFor 'products'}}">{{name}}</a></li>
				{{/each}}
		</ul>
	    {{/esEach}}

	</ul>
</template>
